{% extends "layout.html" %}

{% block header %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: serviceUrl or "/",
    containerClasses: "govuk-width-container"

  }) }}

  {{ govukPhaseBanner({
    tag: {
      text: "Prototype",
      classes: "govuk-tag--pink"
    },
    html: 'This is not a full service. It is not production code and you might experience problems.',
    classes: 'govuk-width-container'
  }) }}


<!-- <div class="govuk-width-container govuk-!-margin-top-3">
  <div class="govuk-breadcrumbs govuk-!-margin-top-0">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Welcome</a>
      </li>
    </ol>
  </div>
</div> -->
{% endblock %}


{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">


      <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-xl"> Login</h1>

          <p>Due to the session inactivity and for security reasons you are required to login again to continue with your current session</p>








          <div class="govuk-form-group">
            <label class="govuk-label" for="event-name">
            Username
            </label>
            <input class="govuk-input" id="event-name" name="event-name" type="text">
          </div>
          <div class="govuk-form-group">
  <label class="govuk-label" for="event-name">
    Password
  </label>
  <input class="govuk-input" id="event-name" name="event-name" type="text">
</div>
<p><a href="#" class="govuk-link">I have forgotten my password</a></p>
<a href="user-agreement" class="govuk-link"><button class="govuk-button" data-module="govuk-button">
  Login
</button></a>
  <h2 class="govuk-heading-m">Notes</h2>
  <p>This Portal is provided and managed by the Education and Skills Funding Agency as part of the Learning Records Service (LRS). It is to be used only for purposes defined by the Education and Skills Funding Agency and as set out in applicable<a href="#" class="govuk-link"> User Agreement</a>.
    Information about the purpose of LRS and gaining access to this website can be found <a href="#" class="govuk-link">here</a>. You should not access or use the services provided on this website without being authorised. We will investigate any unauthorised access and may choose to impose penalties in accordance with applicable laws and regulations.</p>




    </div> <!-- govuk-grid-row end -->
  </main>
</div> <!-- ovuk-width-container end -->

<!--<script>

  const nav = document.querySelector('nav');
  const div = document.createElement('div');

  div.textContent = 'David Ricardo, Assessment and Qualifications Alliance';
  nav.prepend(div);
  div.style.textAlign = 'right';

</script>-->

{% endblock %}
