{% extends "layout.html" %}

{% block header %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: serviceUrl or "/",
    containerClasses: "govuk-width-container",
    navigation: [
    {
      href: "https://lrs-test10.dev.lrs.education.gov.uk/Pages/WhatsNew",
      text: "Help"
    },
    {
      href: "#",
      text: "What's new"
    },
    {
      href: "#",
      text: "My account"
    },
    {
      href: "#",
      text: "Log out"
    }
  ]
  }) }}

  {{ govukPhaseBanner({
    tag: {
      text: "Prototype",
      classes: "govuk-tag--pink"
    },
    html: 'This is not a full service. It is not production code and you might experience problems.',
    classes: 'govuk-width-container'
  }) }}
  <div class="grey">
  <div class="govuk-width-container">
    <nav class="app-navigation govuk-clearfix govuk-width-container" style="max-width: 100%;" title="Navigation menu between learner and achievement management.">

      <ul class="app-navigation__list app-width-container" style="left: -15px; list-style: none; margin: 0px auto; max-width: 1200px; padding: 0px; position: relative;">

        <li class="app-navigation__list-item">
          <a id="learnermanagement_menu" href="lrs-home" class="govuk-link govuk-link--no-visited-state app-navigation__link">Home</a>
        </li>
        <li class="app-navigation__list-item">
          <a id="learnermanagement_menu" href="#" class="govuk-link govuk-link--no-visited-state app-navigation__link">Learner management</a>
        </li>

        <li class="app-navigation__list-item">
          <a id="achievementmanagement_menu" href="#" class="govuk-link govuk-link--no-visited-state app-navigation__link">Achievement management </a>
        </li>

        <li class="app-navigation__list-item app-navigation__list-item--current">
          <a id="learnermanagement_menu" href="#" class="govuk-link govuk-link--no-visited-state app-navigation__link">Submit qualification data</a>
        </li>
      </ul>
    </nav>
  </div>
  </div>

  <div class="govuk-width-container govuk-!-margin-top-3">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Welcome</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Submit qualification data</a>
        </li>
       <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Make a new submission</a>
        </li>
      </ol>
    </div>
  </div> 
{% endblock %}


{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-quarter">
      <div id="sub-menu">
        <div class="app-pane__subnav">
          <nav aria-label="Main Navigation" id="subNavigation" class="app-subnav">
            <a href="#main-content" class="govuk-skip-link govuk-skip-link-left-navigation">Skip menu</a>

          <!--  <ul class="app-subnav__section">
              <li class="app-subnav__section-item app-subnav__section-item--current">
                <a href="../welcome.html" class="app-subnav__link govuk-link govuk-link--no-visited-state" style="font-weight: 700;">Overview</a>
              </li>
            </ul>-->

            <h4 class="app-subnav__theme"></h4>
            <ul class="app-subnav__section">
              <li class="app-subnav__section-item">
                <a href="overview.html" class="app-subnav__link govuk-link govuk-link--no-visited-state">Getting started</a>
              </li>

              <li class="app-subnav__section-item app-subnav__section-item--current">
                <a href="select-the-file-type.html" class="app-subnav__link govuk-link govuk-link--no-visited-state "style="font-weight: 700;">Make a new submission</a>
              </li>

              <li class="app-subnav__section-item">
                <a href="view-submission-status.html" class="app-subnav__link govuk-link govuk-link--no-visited-state">View submission status</a>
              </li>

              <li class="app-subnav__section-item">
                <a href="test-template.html" class="app-subnav__link govuk-link govuk-link--no-visited-state">Test your template (optional)</a>
              </li>
            </ul>



          </nav>
        </div> <!-- app-pane__subnav end -->
      </div> <!-- sub-menu end -->
      </div> <!-- govuk-grid-column-one-third end -->

      <div class="govuk-grid-column-three-quarters">



        <h1 class="govuk-heading-xl">Which reporting period are you submitting for?</h1>

        <!--<p>Submission file type : <strong>General qualifications (GQ)</strong><br/></p>-->

        <p>We’re currently accepting data for the following reporting periods. Select which period you’re submitting for.</p>



  <p> If you’re submitting for both reporting periods, you’ll need to make 2 separate submissions.</p>
    <form action="select-file-to-upload">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
   <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">

      </legend>
                 <div class="govuk-radios" data-module="govuk-radios">
                   <div class="govuk-radios__item">
                     <input class="govuk-radios__input" id="select-file-to-upload" name="where-do-you-live" type="radio" value="england">
                     <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                Summer GCE results data for the 2021-22 academic year
                     </label>
                   </div>
                   <div class="govuk-radios__item">
                     <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
                     <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
          Summer GCSE results data for the 2021-22 academic year
                     </label>
                   </div>

                 </div>

               </fieldset>
             </div>


           <div class="govuk-button-group">
     <button class="govuk-button" data-module="govuk-button">
       Continue
     </button>

     <a class="govuk-link" href="#">Back</a>
   </div>

         </form>

  </div>



    </div> <!-- govuk-grid-row end -->
  </main>
</div> <!-- ovuk-width-container end -->

<script>

  const nav = document.querySelector('nav');
  const div = document.createElement('div');

  div.textContent = 'David Ricardo, Assessment and Qualifications Alliance';
  nav.prepend(div);
  div.style.textAlign = 'right';

</script>

{% endblock %}
