{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<br>
<h1 class="govuk-heading-l">Get help with the LRS portal</h1>
<p class="govuk-body">There’s detailed guidance documents available on <a class="govuk-link" href="https://www.gov.uk/government/publications/lrs-help-and-support/data-encryption-and-passphrase-guidance" target="_blank">GOV.uk</a>.</p>
<h2 class="govuk-heading-m">Reporting a data problem</h2>
<p class="govuk-body">If you need to report a problem with a learner’s Unique Learner Number (ULN) or Personal Learner Record (PLR) it’s best to do this through the portal, as any data you include will be sent securely.</p>
<p class="govuk-body">You can do this from either the ‘Profile’ or ‘Personal learning record’ tab on an individual’s learner profile.</p>
<h2 class="govuk-heading-m">For any other queries</h2>
<p class="govuk-body">You can email the LRS service desk at:</p>
<p class="govuk-body"><a class="govuk-link" href="#">LRS.Support@education.gov.uk</a></p>
<p class="govuk-body">If you do need to email us, you must ensure any personal data is sent securely. There’s more information about encrypting emails in our <a class="govuk-link" href="https://www.gov.uk/government/publications/lrs-help-and-support/data-encryption-and-passphrase-guidance" target="_blank">data encryption and passphrase guidance</a>.</p>
<p class="govuk-body">You can also call us on:</p>
<p class="govuk-body">0345 602 2589</p>
<p class="govuk-body">Monday to Friday, 8am to 6.30pm.</p>
<p class="govuk-body">Closed on Saturdays, Sundays and bank holidays.</p>



<!--
<h1 class="govuk-heading-l">Get help with the LRS portal</h1>
<p class="govuk-body">There are help links throughout the portal. Select these to see relevant guidance for the page you’re on. There’s more detailed support in the full <a class="govuk-link" href="https://www.gov.uk/government/publications/lrs-help-and-support/data-encryption-and-passphrase-guidance" target="_blank">guidance document</a>.</p>
<h2 class="govuk-heading-m">If you still need help</h2>
<p class="govuk-body">You can contact the LRS service desk by email or phone.</p>
<h3 class="govuk-heading-s">Email</h3>
<p class="govuk-body"><a class="govuk-link" href="#">LRS.Support@education.gov.uk</a></p>
<p class="govuk-body">You must ensure any personal data is sent securely when emailing us. There’s more information about encrypting emails in our data encryption and passphrase guidance.</p>
<h3 class="govuk-heading-s">Telephone</h3>
<p class="govuk-body">0345 602 2589</p>
<p class="govuk-body">Monday to Friday, 8am to 6.30pm.</p>
<p class="govuk-body">Closed on Saturdays, Sundays and bank holidays.</p>
-->



{% endblock %}