{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <h2 class="govuk-heading-m">Menus</h2>

  <ul class="govuk-list govuk-list--bullet">
    <li>
      <a href="helpdesk/menu_hd_secondline_0_welcome.html">Helpdesk - Second line</a>
    </li>
    <li>
      <a href="helpdesk/menu_hd_firstline_0_welcome.html">Helpdesk - First line</a>
    </li>
    <li>
      <a href="learner_provider/menu_learner_provider_0_welcome.html">Learner provider</a>
    </li>
    <li>
      <a href="awarding_org/menu_awarding_org_0_welcome.html">Awarding organisation</a>
    </li>
  </ul>



{% endblock %}