{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
<h1 class="govuk-heading-l">User agreement</h1>
<p class="govuk-body">This Portal is provided and managed by the Education and Skills Funding Agency as part of the Learning Records Service (LRS). It is to be used only for purposes defined by the Education and Skills Funding Agency and as set out in the applicable User Agreement. Information about the purpose of LRS and gaining access to this website can be found  <a class="govuk-link" href="#">here</a>. You should not access or use the services provided on this website without being authorised. We will investigate any unauthorised access and may choose to impose penalties in accordance with applicable laws and regulations.</p>
<a href="#" class="govuk-button show-continue">Accept</a>
<a href="#" class="govuk-button govuk-button--secondary">Decline</a>
</div>
{% endblock %}