
{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
{% endblock %}
{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% include "menus/helpdesk/menu_top_learner_mgt_assessment.html" %}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    {% include "menus/helpdesk/menu_LHS_learner_mgt_assessment.html" %}
  </div>

  <div class="govuk-grid-column-three-quarters">



    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">  Bluecoat Aspley Primary School</h1>


        <h2 class="govuk-heading-m"></h2>

        <nav class="app-sub-navigation" aria-label="Sub navigation">
          <ul class="app-sub-navigation__list">
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" aria-current="page" href="#">Application</a>
            </li>
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" href="timeline.html">History</a>
            </li>
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" href="additional-notes.html">Add a note</a>
            </li>
          </ul>
        </nav>
        <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Application reference
      </dt>
      <dd class="govuk-summary-list__value">

      1234567

      </dd>
      </div>
      <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Type of application
            </dt>
            <dd class="govuk-summary-list__value">

            Annual renewal of access to LRS

            </dd>
          </div>
          <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                      Date received
                      </dt>
                      <dd class="govuk-summary-list__value">

                      18 August 2020

                      </dd>
                    </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Status
            </dt>
            <dd class="govuk-summary-list__value">
              <strong class="govuk-tag govuk-tag--blue">
                Needs review
              </strong>
            </dd>
          </div>
        </dl>
          </div>




        <!--Application details-->

          <div class="govuk-grid-column-full">

        <ol class="app-task-list">
          <li>
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">1. </span> Completed application details
            </h2>
            <ul class="app-task-list__items">
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="organisation-details" aria-describedby="eligibility-status" class="govuk-body">
                  Organisation details
                  </a>
                  <p class="govuk-body">Verified against the details held on the UK Register of Learning Providers
(UKRLP)</p>
                </span>

              </li>
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="organisation-verifiers" aria-describedby="read-declaration-status" class="govuk-body">
                  Organisation verifiers
                  </a>
                    <p class="govuk-body">Information Commissioner’s Office (ICO) number verified
against the ICO public register</p>
                </span>

              </li>
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="reason-for-access" aria-describedby="read-declaration-status" class="govuk-body">
                Reasons for access
                  </a>
                  <p class="govuk-body">Verified as a valid reason for access using Get Information about Schools</p>
              </span>

              </li>
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="application-owner" aria-describedby="read-declaration-status" class="govuk-body">
              Applicant details
                  </a>
                    <p class="govuk-body">Completed by the super user who submitted the application</p>
                </span>

              </li>

              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="dpo" aria-describedby="read-declaration-status" class="govuk-body">
            Data protection officer
                  </a>
                </span>

              </li>


            </ul>
          </li>

          <li>

            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">2. </span> Review application
            </h2>
            <ul class="app-task-list__items">

              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="question_1" aria-describedby="read-declaration-status" class="govuk-body">
                  Check and confirm the agreement signatory
                  </a>
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Not started yet</strong>
              </li>
            </ul>
          </li>
        </ol>
      </div>
    </div>

      {% endblock %}
