
{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
{% endblock %}
{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% include "menus/helpdesk/menu_top_learner_mgt_assessment.html" %}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    {% include "menus/helpdesk/menu_LHS_learner_mgt_assessment.html" %}
  </div>

  <div class="govuk-grid-column-three-quarters">



    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">  Bluecoat Aspley Primary School</h1>


        <h2 class="govuk-heading-m"></h2>

        <nav class="app-sub-navigation" aria-label="Sub navigation">
          <ul class="app-sub-navigation__list">
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" aria-current="page" href="#">Application</a>
            </li>
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" href="waiting-timeline.html">History</a>
            </li>
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" href="additional-notes.html">Add a note</a>
            </li>
          </ul>
        </nav>
        <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Application reference
      </dt>
      <dd class="govuk-summary-list__value">

      1234567

      </dd>
      </div>
      <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Type of application
            </dt>
            <dd class="govuk-summary-list__value">

        Annual renewal of access to LRS
            </dd>
          </div>
          <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                      Date received
                      </dt>
                      <dd class="govuk-summary-list__value">

                      18 August 2020

                      </dd>
                    </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Status
            </dt>
            <dd class="govuk-summary-list__value">
              <strong class="govuk-tag govuk-tag--yellow
              ">
        	WAITING ON CUSTOMER
              </strong>
            </dd>
          </div>
        </dl>
          </div>




        <!--Application details-->

        <div class="govuk-grid-column-full">


          <ol class="app-task-list">
            <li>
              <h2 class="app-task-list__section">
                <span class="app-task-list__section-number">1. </span> Completed application details
    <p class="govuk-body">The following application details have already been verified and you do not need to take any further action.</p>
              </h2>

              <ul class="app-task-list__items">
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="organisation-details" aria-describedby="eligibility-status" class="govuk-body">
                    Organisation details
                    </a>
                    <p class="govuk-body">Automatically populated from the UK Register of Learning Providers (UKRLP) using the UK Provider Reference Number (UKPRN) given by the applicant</p>
                  </span>

                </li>
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="organisation-verifiers" aria-describedby="read-declaration-status" class="govuk-body">
                    Organisation verifiers
                    </a>
                      <p class="govuk-body">Information Commissioner's Office (ICO) number automatically verified against UKRLP.
  Company number automatically verified against the Companies House register</p>
                  </span>

                </li>
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="reason-for-access" aria-describedby="read-declaration-status" class="govuk-body">
                  Reasons for access
                    </a>
                    <p class="govuk-body">Automatically verified as a state-funded school or academy using Get Information about Schools (GIAS), so this is a valid reason for access</p>
                </span>

                </li>
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="application-owner" aria-describedby="read-declaration-status" class="govuk-body">
                Applicant details
                    </a>
                      <p class="govuk-body">Provided by the super user who submitted the application and you do not need to check these details</p>
                  </span>

                </li>

                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="dpo" aria-describedby="read-declaration-status" class="govuk-body">
            Data protection officer details
                    </a>
                      <p class="govuk-body">Provided by the super user who submitted the application and you do not need to check these details</p>
                  </span>

                </li>


              </ul>
          </li>

          <li>

            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">2. </span> Review application
              <p class="govuk-body">The following details need your review so you can approve or reject the application.</p>
            </h2>
            <ul class="app-task-list__items">
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="waiting-on-customer" aria-describedby="read-declaration-status">
                  Check and confirm the agreement signatory
                  </a>
                </span>
               <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">In progress</strong>
              </li>

            </ul>
          </li>
        </ol>
      </div>
    </div>

      {% endblock %}
