{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
<a href="bluecoat-primary.html" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}


<!--
<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
  <h1 class="govuk-fieldset__heading">
    Newport Academy Trust
  </h1>

  <span id="dob-hint" class="govuk-hint">
    UKPRN: 87651234</span>

</legend>

-->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


<h1 class="govuk-heading-xl">Organisation verifiers</h1>

<!--Organisation details-->

    <p class="govuk-body">Information Commissioner's Office (ICO) number automatically verified against UKRLP.
Company number automatically verified against the Companies House register.</p>
    <h2 class="govuk-heading-m">No action needed</h2>


<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
ICO number
    </dt>
    <dd class="govuk-summary-list__value">
      1108311 (verified with UK Register of Learning Providers)
    </dd>

  </div>
</dl>



<a href="bluecoat-primary" class="govuk-button show-continue">Back</a>



</div>

</div>




{% endblock %}
