{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
{% endblock %}
{% block content %}


<!--
<div>
  <nav class="app-lrs-navigation" aria-label="lrs navigation">
    <ul class="app-lrs-navigation__list">
      <li class="app-lrs-navigation__item">
        <a class="app-lrs-navigation__link" href="/menus/helpdesk/menu_hd_secondline_1_learners_tab.html">Learners</a>
      </li>
      <li class="app-lrs-navigation__item">
        <a class="app-lrs-navigation__link" aria-current="page"
          href="/menus/helpdesk/menu_hd_secondline_2_organisations_tab.html">Organisations</a>
      </li>
      <li class="app-lrs-navigation__item">
        <a class="app-lrs-navigation__link" href="/menus/helpdesk/menu_hd_secondline_3_datachallenges_tab.html">Data
          challenges</a>
      </li>
      <li class="app-lrs-navigation__item">
        <a class="app-lrs-navigation__link" href="/menus/helpdesk/menu_hd_secondline_4_servicetools_tab.html">Service
          tools</a>
      </li>
      <li class="app-lrs-navigation__item">
        <a class="app-lrs-navigation__link"
          href="/menus/helpdesk/menu_hd_secondline_5_achievements_tab.html">Achievements</a>
      </li>
      <li class="app-lrs-navigation__item">
        <a class="app-lrs-navigation__link" href="/menus/helpdesk/menu_hd_secondline_6_admin_tab.html">Admin</a>
      </li>
      <li class="app-lrs-navigation__item">
        <a class="app-lrs-navigation__link" href="/menus/helpdesk/menu_hd_secondline_7_webservices_tab.html">Web
          services</a>
      </li>
    </ul>
  </nav>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body">Organisation management</p>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="app_mgt_1_search.html">Manage applications</a>
      </li>
      <li>
        <a class="govuk-link" href="org_mgt_1_search.html">Find organisation</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Add organisation</a>
      </li>
    </ul>

    <br>
    <p class="govuk-body">User management</p>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">Add or remove a user</a>
      </li>
    </ul>
  </div>

  -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% include "menus/helpdesk/menu_top_learner_mgt_assessment.html" %}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    {% include "menus/helpdesk/menu_LHS_learner_mgt_assessment.html" %}
  </div>



  <div class="govuk-grid-column-three-quarters">



    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">  Bluecoat Aspley Primary School</h1>


        <h2 class="govuk-heading-m"></h2>

        <nav class="app-sub-navigation" aria-label="Sub navigation">
          <ul class="app-sub-navigation__list">
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" aria-current="page" href="#">Application</a>
            </li>
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" href="timeline.html">History</a>
            </li>
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" href="additional-notes.html">Add a note</a>
            </li>
          </ul>
        </nav>
        <h2 class="govuk-heading-l">Check the agreement signatory</h2>
      <p> Check that the signatory is listed as the headteacher or principal for Bluecoat Aspley Primary School on <a href="https://www.get-information-schools.service.gov.uk/" class="govuk-link">Get Information about Schools</a>.</p>


      <!--Signatory-->
      <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
      <h3 class="govuk-heading-s">Agreement signatory</h3>
      </div>
      <div class="govuk-grid-column-one-quarter">
      <a class ="app-float-right" href="/lrs_admin/change/index_change_signatory.html">Change</a>
      </div>
      </div>

      <dl class="govuk-summary-list ">
      <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Name
      </dt>
      <dd class="govuk-summary-list__value">
        Theo Curtis
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">
          <!--Change--><span class="govuk-visually-hidden"></span>
        </a>
      </dd>
      </div>

      <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Phone number
      </dt>
      <dd class="govuk-summary-list__value">
        0789 997 6604
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">
          <span class="govuk-visually-hidden"></span>
        </a>
      </dd>
      </div>

      <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Email
      </dt>
      <dd class="govuk-summary-list__value">
        <a href="mailto:tcurtis@weirtraining.co.uk">theo.curtis@bluecoat-primary.co.uk</a>
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">
          <span class="govuk-visually-hidden"> </span>
        </a>
      </dd>
      </div>
      </dl>



        <!--  <h3 class="govuk-heading-m">Status: waiting on customer</h3>-->


  <!--<h3 class="govuk-heading-s">Status changed by Bethany Johnson on 30 August 2020 with reason:</h3>
          <p> 'Need to check signatory details with the applicant as the signatory provided in the application is not listed on GIAS.</p>-->


          <form action="question_5-branch" method="post" novalidate data-validate='my-form-validation'>
              <h3 class="govuk-heading-m">Update application status</h3>
              {% set detailsHtml %}
               {{ govukTextarea({
              id: "contact-by-phone",
              name: "contact-by-phone",
              type: "tel",
              autocomplete: "tel",
              label: {
              text: "Add a note on your contact with the customer and explain why you're approving this application (required)"
              }
              }) }}
              {% endset -%}
              {% set detailsHtml2 %}
               {{ govukTextarea({
              id: "contact-by-phone",
              name: "contact-by-phone",
              type: "tel",
              autocomplete: "tel",
              label: {
              text: "Add a note on your contact with the customer and explain why you're rejecting this application (required)"
              }
              }) }}
              {% endset -%}

              {{ govukRadios({
                  classes: "govuk-radios",
                  idPrefix: "question_1-gias",
                  name: "question_1-gias",
                  fieldset: {
                      legend: {
                          text: "",
                          isPageHeading: true,
                          classes: "govuk-fieldset__legend--l"
                      }
                  },

                  items: [
                      {
                          value: "Yes",
                          text: " I approve this application",
                          id: "question_1-gias-yes",
                          checked: checked("nqt-after-itt", "yes"),
                          conditional: {html: detailsHtml}
                      },
                      {
                          value: "No",
                          text: "I reject this application",
                          id: "question_1-gias-no",
                          checked: checked("nqt-after-itt", "no"),
                          conditional: {html: detailsHtml2}
                      }
                  ]
              }) }}

              <div class="govuk-button-group">
                {{ govukButton({
                  text: "Continue"
                }) }}
                <a class="govuk-link govuk-!-margin-left-3" href="bluecoat-primary-agreememt-waiting">Back</a>
              </div>
          </form>
















      {% endblock %}
