{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
{% endblock %}
{% block content %}

<div class="govuk-width-container govuk-!-margin-top-3">


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% include "menus/helpdesk/menu_top_learner_mgt_assessment.html" %}
  </div>


</div>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    {% include "menus/helpdesk/menu_LHS_learner_mgt_assessment.html" %}
  </div>




  <div class="govuk-grid-column-three-quarters">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">


                  <span class="govuk-caption-l govuk-!-margin-bottom-1">ULN: 1008272336</span>
                  <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">Jesse Smith</h1>




        <nav class="app-sub-navigation" aria-label="Sub navigation">
          <ul class="app-sub-navigation__list">
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" href="bluecoat-primary-renewal-ist.html">Profile</a>
            </li>
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" href="timeline.html">Offender details</a>
            </li>
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" href="timeline.html">Personal learning record</a>
            </li>
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" href="timeline.html">Learner plan</a>
            </li>
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" href="timeline.html">Reports</a>
            </li>
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" aria-current="page" href="#">View and add notes</a>
            </li>
          </ul>
        </nav>




        <div class="govuk-grid-column-two-thirds" style="padding-left: 0;">
      <h2 class="govuk-heading-m govuk-!-margin-bottom-4">Notes</h2>

      <div class="govuk-form-group">
<label class="govuk-label" for="more-detail">
Add a note
</label>
<textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5"></textarea>
</div>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save note"
        }) }}
      </div>

      <h2 class="govuk-heading-m govuk-!-margin-top-4">Previous notes</h2>

      <br>
      <h3 class="govuk-heading-s">Note added by Bethany Johnson</h3>
      <p>Customer has provided valid ID for name change and record has been
updated to Jesse Smith.<br><br> 12 March 2022 at 4:17pm</p>
      <hr>

      <br>
      <h3 class="govuk-heading-s">Note added by Joseph Goddard</h3>
      <p>Still no response from customer so have sent a chaser email today.<br><br> 11 March 2022 at 9:32am</p>
        <hr>
            <br>
      <h3 class="govuk-heading-s">Note added by Bethany Johnson</h3>
      <p>Contacted by admin officer at Bluecoat Primary School who reported that this
learner has changed their surname from Jesse Taylor to Jesse Smith.
Advised them to provide proof of learner’s name change by email.<br><br>4 March 2022 at 1:20pm</p>
      <hr>





      </div>


    </div>

    </div>
    <style>
.govuk-width-container
{
  max-width:1200px;
}
      </style>

    {% endblock %}
