{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% include "menus/helpdesk/menu_top_learner_mgt_assessment.html" %}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    {% include "menus/helpdesk/menu_LHS_learner_mgt_assessment.html" %}
  </div>

  <div class="govuk-grid-column-three-quarters">

    <h1 class="govuk-heading-l">Manage applications</h1>



      <nav class="app-sub-navigation" aria-label="Sub navigation">
        <ul class="app-sub-navigation__list">
          <li class="app-sub-navigation__item">
            <a class="app-sub-navigation__link" href="bluecoat-primary-renewal-ist">Application</a>
          </li>
          <li class="app-sub-navigation__item">
            <a class="app-sub-navigation__link" href="timeline.html">Timeline</a>
          </li>
          <li class="app-sub-navigation__item">
            <a class="app-sub-navigation__link" href="additional-notes.html">Additional notes</a>
          </li>
          <li class="app-sub-navigation__item">
            <a class="app-sub-navigation__link" aria-current="page" href="#">Related applications</a>
          </li>
        </ul>
      </nav>
    <table class="govuk-table">
      <thead class="govuk-table__head">

      </thead>

      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">

            <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
              <a href="bluecoat-primary-renewal-ist.html" class="govuk-link govuk-link--no-visited-state">
                  Bluecoat Aspley Primary School
              </a></h3>
                    <span class="govuk-caption-s">Application type: Renewal</span>
            <p>Application reference: 1234588<br>
              State-funded school<br>
              UKPRN: 87651234<br>
              Date received: 18 August 2022</p>
          </td>
          <td class="govuk-summary-list__actions">

            <strong class="govuk-tag govuk-tag--blue">
          awaiting 1st line review
            </strong>

          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">

            <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
              <a href="waiting/bluecoat-primary-waiting" class="govuk-link govuk-link--no-visited-state">
                  Bluecoat Aspley Primary School
              </a></h3>
                    <span class="govuk-caption-s">Application type: Renewal</span>
            <p>Application reference: 12345865<br>
              State-funded school<br>
              UKPRN: 87651234<br>
              Date received: 6 May 2022</p>
          </td>
          <td class="govuk-summary-list__actions">

            <strong class="govuk-tag govuk-tag--pink">
        Timed out
            </strong>

          </td>
        </tr>


        <tr class="govuk-table__row">
          <td class="govuk-table__cell">

            <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
              <a href="rejected/bluecoat-primary-rejected" class="govuk-link govuk-link--no-visited-state">
                  Bluecoat Aspley Primary School
              </a></h3>
                    <span class="govuk-caption-s">Application type: New</span>
            <p>Application reference: 1235434<br>
              State-funded school<br>
              UKPRN: 87651234<br>
              Date received: 12 January 2022</p>
          </td>
          <td class="govuk-summary-list__actions">

            <strong class="govuk-tag govuk-tag--green">
            Registered
            </strong>

          </td>
        </tr>




      </tbody>
    </table>

  </div>






  <style>
    .govuk-summary-list__actions
    {
      width:auto;

    }


  </style>























  {% endblock %}
