{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
{% endblock %}
{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% include "menus/helpdesk/menu_top_learner_mgt_assessment.html" %}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    {% include "menus/helpdesk/menu_LHS_learner_mgt_assessment.html" %}
  </div>

  <div class="govuk-grid-column-three-quarters">



    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">  Bluecoat Aspley Primary School</h1>


        <h2 class="govuk-heading-m"></h2>

        <nav class="app-sub-navigation" aria-label="Sub navigation">
          <ul class="app-sub-navigation__list">
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" aria-current="page" href="#">Application</a>
            </li>
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" href="timeline.html">Timeline</a>
            </li>
            <li class="app-sub-navigation__item">
              <a class="app-sub-navigation__link" href="additional-notes.html">Additional notes</a>
            </li>
          </ul>
        </nav>

        <!--Application details-->
        <h2 class="govuk-heading-m govuk-!-margin-top-9">Application details</h2>
        <dl class="govuk-summary-list">
<div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Application reference
            </dt>
            <dd class="govuk-summary-list__value">

                1234567

            </dd>
          </div>
          <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                      Type of application
                      </dt>
                      <dd class="govuk-summary-list__value">

                        Renewal

                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                Date received
                                </dt>
                                <dd class="govuk-summary-list__value">

                                18 August 2020

                                </dd>
                              </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Status
                      </dt>
                      <dd class="govuk-summary-list__value">
                        <strong class="govuk-tag govuk-tag--blue">
                          With 1st line team
                        </strong>
                      </dd>
                    </div>
                  </dl>

        <!--Organisation details-->
        <h2 class="govuk-heading-m govuk-!-margin-top-9">Organisation details</h2>


        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">

            <!--
            <dt class="govuk-summary-list__key">
              Application Status
            </dt>
            <dd class="govuk-summary-list__value">
              <strong class="govuk-tag">
                NEW
              </strong>
            </dd>
          </div>

          -->



          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              UKPRN
            </dt>
            <dd class="govuk-summary-list__value">
              12345678
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Provider type
            </dt>
            <dd class="govuk-summary-list__value">
            State-funded school
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">Alpha 319,
                Chobham Business Centre,
                Chertsey Road,
                Chobham,
                Surrey,
                GU24 8JB</p>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Country
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">England</p>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Company number
            </dt>
            <dd class="govuk-summary-list__value">
              12345678
            </dd>
          </div>

        <!--  <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Parent organisation
            </dt>
            <dd class="govuk-summary-list__value">
              Weir Trust
            </dd>
          </div>-->



        </dl>

        <br>
        <br>


        <!--Organisation verifiers-->
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-three-quarters">
            <h2 class="govuk-heading-m">Organisation verifiers</h2>
          </div>
        </div>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
        ICO number
            </dt>
            <dd class="govuk-summary-list__value">
              1108311 (verified with UK Register of Learning Providers)
            </dd>

          </div>
        </dl>
<br/>
<br/>


        <div class="govuk-grid-row">
          <div class="govuk-grid-column-three-quarters">
            <h2 class="govuk-heading-m">Reasons for access</h2>
          </div>

        </div>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">

            <dt class="govuk-summary-list__key">
              Access to LRS
            </dt>
            <dd class="govuk-summary-list__value">
            Funded by ESFA (verified with Get Information about Schools)
            </dd>

          </div>






        </dl>

        <br/>
        <br/>
        </td>



        <!--Application owner-->
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-three-quarters">
            <h2 class="govuk-heading-m">Application owner</h2>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <a class ="app-float-right" href="#">Change</a>
          </div>
        </div>


        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">

            </dt>
            <dd class="govuk-summary-list__value">

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              Romeo Bridger
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <!--Change--><span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Phone number
            </dt>
            <dd class="govuk-summary-list__value">
              0789 009 8800
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email
            </dt>
            <dd class="govuk-summary-list__value">
              <a href="mailto:rbridger@weirtraining.co.uk">romeo@bluecoat-primary.co.uk</a>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#"><input class="govuk-checkboxes__input" id="waste" name="waste"
                  type="checkbox" value="farm">
                <label class="govuk-label govuk-checkboxes__label" for="waste"></label>
                <span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>

        </dl>




        <!--DPO-->
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-three-quarters">
            <h2 class="govuk-heading-m">Data protection officer</h2>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <a class ="app-float-right" href="/lrs_admin/change/change_dpo.html">Change</a>
          </div>
        </div>

        <dl class="govuk-summary-list ">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              Bob Odenburt
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <!--Change--><span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Phone number
            </dt>
            <dd class="govuk-summary-list__value">
              0789 997 6604
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email
            </dt>
            <dd class="govuk-summary-list__value">
              <a href="mailto:bodenburt@ach.gov.uk">bodenburt@bluecoat-primary.co.uk</a>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>
        </dl>

        <br>
        <br>

        <!--Signatory-->
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-three-quarters">
            <h2 class="govuk-heading-m">Agreement signatory</h2>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <a class ="app-float-right" href="/lrs_admin/change/index_change_signatory.html">Change</a>
          </div>
        </div>

        <dl class="govuk-summary-list ">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              Theo Curtis
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <!--Change--><span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Phone number
            </dt>
            <dd class="govuk-summary-list__value">
              0789 997 6604
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email
            </dt>
            <dd class="govuk-summary-list__value">
              <a href="mailto:tcurtis@weirtraining.co.uk">theo.curtis@bluecoat-primary.co.uk</a>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>
        </dl>

        <div class="govuk-checkboxes govuk-!-margin-bottom-9">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="checked" name="checked" type="checkbox" value="checked">
            <label class="govuk-label govuk-checkboxes__label" for="checked">
            I've checked this signatory is a headteacher or principal listed on Get Information about Schools (GIAS)
            </label>
          </div>
        </div>

        <a href="pending-signature/bluecoat-primary-renewal-pending-signature.html" class="govuk-button show-continue">Approve</a>
        <a href="rejected/reason.html" class="govuk-button govuk-button--secondary">Reject</a>
        <a href="2nd-line/reason.html" class="govuk-button govuk-button--secondary">Assign to second line</a>
        <a href="waiting/reason.html" class="govuk-button govuk-button--secondary">Waiting on customer</a>


      </div>



      {% endblock %}
