<p class="govuk-body">Organisation management</p>
<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="/lrs_admin/application_management/firstline/app_mgt_1_search_first">Manage applications</a>
  </li>
  <li>
    <a class="govuk-link" href="/lrs_admin/organisation_management/org_mgt_1_search">Find organisation</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Add organisation</a>
  </li>
</ul>

<br>
<p class="govuk-body">User management</p>
<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="#">Add or remove a user</a>
  </li>
</ul>