
<p class="govuk-body">Organisation management</p>
<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="/lrs_admin/app_mgt_1_search">Manage applications</a>
  </li>
  <li>
    <a class="govuk-link" href="lrs_adming/org_mgt_1_search">Find organisation</a>
  </li>
  <li>
    <a class="govuk-link" href="#">Add organisation</a>
  </li>
</ul>

<br>
<p class="govuk-body">User management</p>
<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="#">Add or remove a user</a>
  </li>
</ul>