{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}


<div>
  <nav class="app-lrs-navigation" aria-label="lrs navigation">
    <ul class="app-lrs-navigation__list">
      <li class="app-lrs-navigation__item">
        <a class="app-lrs-navigation__link" href="menu_hd_secondline_1_learners_tab.html">Learners</a>
      </li>
      <li class="app-lrs-navigation__item">
        <a class="app-lrs-navigation__link" href="menu_hd_secondline_2_organisations_tab.html">Organisations</a>
      </li>
      <li class="app-lrs-navigation__item">
        <a class="app-lrs-navigation__link" href="menu_hd_secondline_3_datachallenges_tab.html">Data challenges</a>
      </li>
      <li class="app-lrs-navigation__item">
        <a class="app-lrs-navigation__link" href="menu_hd_secondline_4_servicetools_tab.html">Service tools</a>
      </li>
      <li class="app-lrs-navigation__item">
        <a class="app-lrs-navigation__link" href="menu_hd_secondline_5_achievements_tab.html">Achievements</a>
      </li>
      <li class="app-lrs-navigation__item">
        <a class="app-lrs-navigation__link" href="menu_hd_secondline_6_admin_tab.html">Admin</a>
      </li>
      <li class="app-lrs-navigation__item">
        <a class="app-lrs-navigation__link" aria-current="page" href="menu_hd_secondline_7_webservices_tab.html">Web services</a>
      </li>
    </ul>
  </nav>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
 
    <p class="govuk-body">Web services</p>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">Download certificate</a>
      </li>
    </ul>

</div>















{% endblock %}