{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div>
  <nav class="app-lrs-navigation" aria-label="lrs navigation">
    <ul class="app-lrs-navigation__list">
      <li class="app-lrs-navigation__item">
        <a class="app-lrs-navigation__link" aria-current="page" href="menu_hd_firstline_1_learners_tab.html">Learners</a>
      </li>
      <li class="app-lrs-navigation__item">
        <a class="app-lrs-navigation__link" href="menu_hd_firstline_2_organisations_tab.html">Organisations</a>
      </li>
      <li class="app-lrs-navigation__item">
        <a class="app-lrs-navigation__link" href="menu_hd_firstline_3_datachallenges_tab.html">Data challenges</a>
      </li>
      <li class="app-lrs-navigation__item">
        <a class="app-lrs-navigation__link" href="menu_hd_firstline_5_achievements_tab.html">Achievements</a>
      </li>
      <li class="app-lrs-navigation__item">
        <a class="app-lrs-navigation__link" href="menu_hd_firstline_7_webservices_tab.html">Web services</a>
      </li>
    </ul>
  </nav>
</div>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body">Learner management</p>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">Find a learner</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Merge/unmerge learner</a>
      </li>
    </ul>

    <br>
    <p class="govuk-body">Learner registration</p>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="/lrs_admin/register_learner_1.html">Register a learner </a>
      </li>
    </ul>

    <br>
    <p class="govuk-body">Learner verification</p>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">Verify single learner </a>
      </li>
    </ul>

    <br>
    <p class="govuk-body">Batch files</p>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">Submit batch file</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Submit batch job</a>
      </li>
      <li>
        <a class="govuk-link" href="#">View batch jobs</a>
      </li>


</div>
















{% endblock %}