<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <nav class="app-lrs-navigation" aria-label="lrs navigation">
      <ul class="app-lrs-navigation__list">
        <li class="app-lrs-navigation__item">
          <a class="app-lrs-navigation__link" href="/menus/helpdesk/menu_hd_firstline_1_learners_tab.html">Learners</a>
        </li>
        <li class="app-lrs-navigation__item">
          <a class="app-lrs-navigation__link" aria-current="page"
            href="/menus/helpdesk/menu_hd_firstline_2_organisations_tab.html">Organisations</a>
        </li>
        <li class="app-lrs-navigation__item">
          <a class="app-lrs-navigation__link" href="/menus/helpdesk/menu_hd_firstline_3_datachallenges_tab.html">Data
            challenges</a>
        </li>
        <li class="app-lrs-navigation__item">
          <a class="app-lrs-navigation__link"
            href="/menus/helpdesk/menu_hd_firstline_5_achievements_tab.html">Achievements</a>
        </li>
        <li class="app-lrs-navigation__item">
          <a class="app-lrs-navigation__link" href="/menus/helpdesk/menu_hd_firstline_7_webservices_tab.html">Web
            services</a>
        </li>
      </ul>
    </nav>
  </div>
</div>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <p class="govuk-body">Organisation management</p>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="/lrs_admin/app_mgt_1_search">Manage applications</a>
      </li>
      <li>
        <a class="govuk-link" href="lrs_adming/org_mgt_1_search">Find organisation</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Add organisation</a>
      </li>
    </ul>

    <br>
    <p class="govuk-body">User management</p>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">Add or remove a user</a>
      </li>
    </ul>
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <a href="#" class="govuk-back-link">Back</a>


    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            Who is the data protection officer?</h1>
        </legend><br>

        <div class="govuk-form-group">
          <label class="govuk-label" for="contractor">
            First name
          </label>
          <input class="govuk-input govuk-!-width-one-half" id="contractor" name="contractor" type="text"
            spellcheck="false" placeholder="Bob">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="contractor">
            Last name
          </label>
          <input class="govuk-input govuk-!-width-one-half" id="contractor" name="contractor" type="text"
            spellcheck="false" placeholder="Odenburt">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="contractor">
            Phone number
          </label>
          <input class="govuk-input govuk-!-width-one-half" id="contractor" name="contractor" type="text"
            spellcheck="false" placeholder="07123456789">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="contractor">
            Email address
          </label>
          <input class="govuk-input govuk-!-width-one-half" id="contractor" name="contractor" type="text"
            spellcheck="false" placeholder="bob.odenburt@email.com">
        </div>
      </fieldset>

    </div>
  </div>