    <p class="govuk-body">Learner management</p>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">Find a learner by personal details</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Find a learner by ULN</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Find a learner by NOMIS ID</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Find a learner by personal details helpdesk</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Find a learner by ULN helpdesk</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Find a learner by UCI helpdesk</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Find a learner by UPN helpdesk</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Find Data Challenge</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Register Learner</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Submit Batch File</a>
      </li>
      <li>
        <a class="govuk-link" href="#">View Batch Files</a>
      </li>
      <li>
        <a class="govuk-link" href="#">View exceptions</a>
      </li>
    </ul>

    <br>
    <p class="govuk-body">Organisation Management</p>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="/lrs_admin/application_management/firstline/app_mgt_1_search_first">Manage applications</a>
      </li>
      <li>
        <a class="govuk-link" href="/lrs_admin/organisation_management/org_mgt_1_search">Find organisation</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Add organisation</a>
      </li>
    </ul>

    <br>
    <p class="govuk-body">Learner verification</p>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">Verify single learner</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Submit Batch Job</a>
      </li>
      <li>
        <a class="govuk-link" href="#">View Batch Jobs</a>
      </li>
    </ul>

    <br>
    <p class="govuk-body">User Management</p>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">Find User</a>
      </li>
    </ul>

    <br>
    <p class="govuk-body">Web Services</p>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">Certificate Management</a>
      </li>
    </ul>
    