{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<h2 class="govuk-heading-m">Examples and documentation</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>
    <a href="org_mgt_1_search.html">Organisation management</a>
  </li>
  <li>
    <a href="app_mgt_1_search.html">Application management - Search</a>
  </li>
  <li>
    <a href="app_mgt_2_app_tab_first_line.html">Application management - 1st Line</a>
  </li>
  <li>
    <a href="app_mgt_2_app_tab_second.html">Application management - 2nd Line</a>
  </li>
  <li>
    <a href="app_mgt_2_app_tab_pending_signature.html">Application management - Pending signature</a>
  </li>
  <li>
    <a href="app_mgt_2_app_tab_registered.html">Application management - Registered</a>
  </li>
  <li>
    <a href="app_mgt_2_app_tab_rejected.html">Application management - Rejected</a>
  </li>

</ul>


{% endblock %}