{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% include "menus/helpdesk/menu_top_learners_firstline.html" %}
  </div>
</div>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    {% include "menus/helpdesk/menu_LHS_learners_firstline.html" %}
  </div>

  <div class="govuk-grid-column-three-quarters">
    <a href="app_mgt_2_app_tab_first_line.html" class="govuk-back-link">Back</a>

    <h1 class="govuk-heading-l">Register a learner</h1>

    <div class="govuk-form-group">
      <label class="govuk-label" for="three-quarters">
        Given name *
      </label>
      <input class="govuk-input govuk-!-width-three-quarters" id="three-quarters" name="three-quarters" type="text">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="three-quarters">
        Preferred given name *
      </label>
      <input class="govuk-input govuk-!-width-three-quarters" id="three-quarters" name="three-quarters" type="text">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="three-quarters">
        Middle name(s)
      </label>
      <input class="govuk-input govuk-!-width-three-quarters" id="three-quarters" name="three-quarters" type="text">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="three-quarters">
        Family name *
      </label>
      <input class="govuk-input govuk-!-width-three-quarters" id="three-quarters" name="three-quarters" type="text">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="three-quarters">
        Previous family name
      </label>
      <input class="govuk-input govuk-!-width-three-quarters" id="three-quarters" name="three-quarters" type="text">
    </div>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
        <p class="govuk-body">Date of birth *</p>
        <div id="passport-issued-hint" class="govuk-hint">
          For example, 12 11 2007
        </div>
        <div class="govuk-date-input" id="passport-issued">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                Day
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day"
                name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                Month
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month"
                name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                Year
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year"
                name="passport-issued-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
          </div>
        </div>

      </fieldset>
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="sort">
        Gender *
      </label>
      <select class="govuk-select" id="sort" name="sort">
        <option value="published" selected>Please select</option>
        <option value="updated">Option 1</option>
        <option value="views">Option 2</option>
        <option value="comments">Option 3</option>
      </select>
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="one-quarter">
        Postcode *
      </label>
      <input class="govuk-input govuk-!-width-one-quarter" id="one-quarter" name="one-quarter" type="text"></div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="three-quarters">
        Email
      </label>
      <input class="govuk-input govuk-!-width-three-quarters" id="three-quarters" name="three-quarters" type="text">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="one-third">
        Unique Candidate Identifier (UCI)
      </label>
      <input class="govuk-input govuk-!-width-one-third" id="one-third" name="one-third" type="text"></div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="one-third">
        Unique Pupil Number (UPN)
      </label>
      <input class="govuk-input govuk-!-width-one-third" id="one-third" name="one-third" type="text"></div>

      <a href="register_learner_2.html" class="govuk-button show-continue">Search</a>

  </div>
</div>


{% endblock %}