{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<h2 class="govuk-heading-m">Change Signatory</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>
    <a href="change_signatory_1.html">Change signatory - Single or MAT, ITP, ETP</a>
  </li>
  <li>
    <a href="change_signatory_2.html">Change signatory - School or academy / FE college or sixth form / University or HE provider</a>
  </li>
  <li>
    <a href="change_signatory_3.html">Change signatory - </a>
  </li>
  <li>
    <a href="change_signatory_4.html">Change signatory - ‘NHS trust’ or health and social care provider</a>
  </li>
  <li>
    <a href="change_signatory_5.html">Change signatory - Local Authority / other</a>
  </li>
  <li>
    <a href="change_signatory_6.html">Change signatory - Prisons</a>
  </li>
</ul>


{% endblock %}