{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}


<div>
    <nav class="app-lrs-navigation" aria-label="lrs navigation">
      <ul class="app-lrs-navigation__list">
        <li class="app-lrs-navigation__item">
          <a class="app-lrs-navigation__link" href="menu_learner_provider_1_learners_tab.html">Learners</a>
        </li>
        <li class="app-lrs-navigation__item">
          <a class="app-lrs-navigation__link" href="menu_learner_provider_2_users_tab.html">Users</a>
        </li>
        <li class="app-lrs-navigation__item">
          <a class="app-lrs-navigation__link" href="menu_learner_provider_3_webservices_tab.html">Web services</a>
        </li>
      </ul>
    </nav>
  </div>
  
  
<p>


<h1 class="govuk-heading-l">Welcome</h1>

<p class="govuk-body">Welcome to the Learning Records Service.</p>

<p class="govuk-body">We have been working to update the look of LRS and to make it more accessible. The site is now in the same style as other gov.uk sites but the features and data have not changed. You should be able to do everything that you could before.</p>

<p class="govuk-body">We will be making more changes over the coming months so that the site is easier to use.</p>

<p class="govuk-body">If you have any problems or queries please call the Customer Service Desk on 0345 602 2589 or email <a class="govuk-link" href="#">lrs.support@education.gov.uk</a> The desk is open from 8am to 6pm Monday to Friday.</p>




{% endblock %}