{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}

<div>
  <nav class="app-lrs-navigation" aria-label="lrs navigation">
    <ul class="app-lrs-navigation__list">
      <li class="app-lrs-navigation__item">
        <a class="app-lrs-navigation__link" href="menu_learner_provider_1_learners_tab.html">Learners</a>
      </li>
      <li class="app-lrs-navigation__item">
        <a class="app-lrs-navigation__link" aria-current="page" href="menu_learner_provider_2_users_tab.html">Users</a>
      </li>
      <li class="app-lrs-navigation__item">
        <a class="app-lrs-navigation__link" href="menu_learner_provider_3_webservices_tab.html">Web services</a>
      </li>
    </ul>
  </nav>
</div>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
 
    <p class="govuk-body">User management</p>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">Add or remove a user</a>
      </li>
    </ul>

</div>


  <div class="govuk-grid-column-three-quarters">
    


    <h1 class="govuk-heading-l">User management</h1>
    <p class="govuk-body-m">This area allows LRS super users to carry out administration for other users in their organisations. You can add and remove other users and help them with any account enquiries.</p>
  
    


  </div>











  </div>












{% endblock %}