{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}
{% block content %}

<div>
  <nav class="app-lrs-navigation" aria-label="lrs navigation">
    <ul class="app-lrs-navigation__list">
      <li class="app-lrs-navigation__item">
        <a class="app-lrs-navigation__link" aria-current="page" href="menu_learner_provider_1_learners_tab.html">Learners</a>
      </li>
      <li class="app-lrs-navigation__item">
        <a class="app-lrs-navigation__link" href="menu_learner_provider_2_users_tab.html">Users</a>
      </li>
      <li class="app-lrs-navigation__item">
        <a class="app-lrs-navigation__link" href="menu_learner_provider_3_webservices_tab.html">Web services</a>
      </li>
    </ul>
  </nav>
</div>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
 
    <p class="govuk-body">Find & register learners</p>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">Find a learner by personal details</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Find a learner by ULN</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Register a learner </a>
      </li>
    </ul>

    <br>
    <p class="govuk-body">Batch files</p>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">Submit a batch file</a>
      </li>
      <li>
        <a class="govuk-link" href="#">View batch files</a>
      </li>
      <li>
        <a class="govuk-link" href="#">View exceptions</a>
      </li>
    </ul>

</div>


  <div class="govuk-grid-column-three-quarters">
    


    <h1 class="govuk-heading-l">Learner management</h1>
    <p class="govuk-body-m">In the learner management section, you can search for individual learners using their ULN or their personal details. You can also register new learners. If your organisation uses batch files, you can manage those batch files here.</p>
  
    


  </div>











  </div>












{% endblock %}