{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<h2 class="govuk-heading-m">Examples and documentation</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>
    <a href="/lrs_admin/organisation_management/org_mgt_1_search.html">Organisation management</a>
  </li>
  <li>
    <a href="/lrs_admin/application_management/index_lrs_app_mgt.html">Application management</a>
  </li>
  <li>
    <a href="/lrs_admin/register_learner/register_learner_1.html">Register Learner</a>
  </li>
  <li>
    <a href="/lrs_admin/change/index_change_signatory.html">Change signatory versions</a>
  </li>

</ul>


{% endblock %}