{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<h2 class="govuk-heading-m">Examples and documentation</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>
    <a href="lrs_start.html">LRS Start   </a> (replaces <a href="https://www.gov.uk/topic/further-education-skills/learning-records-service" target="blank">this)</a>
  </li>
  <li>
    <a href="lrs_register/index_lrs_register.html">LRS Register</a>
  </li>
  <li>
    <a href="lrs_admin/index_lrs_admin.html">LRS Admin</a> 
  </li>
  <li>
    <a href="/menus/index_menus">Menus</a>
  </li>
  <li>
    <a href="/misc/index_misc">Misc</a>
  </li>
</ul>


{% endblock %}