{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<br/>
<br/>
<h1 class="govuk-heading-xl">Learning record service (Admin page)</h1>

<h2 class="govuk-heading-l">Learner notes</h2>
<h2 class="govuk-heading-m">Version 1</h2>
  <p><a href="/learner-notes/view-add-notes">View and add learner notes</a></p>
<h2 class="govuk-heading-l">Manage renewals</h2>

<h2 class="govuk-heading-m">Version 4</h2>

<ul class="govuk-list govuk-list--bullet">

  <li>
    <a href="/v2/find-application.html">Managing application - Renewal - Search by application reference</a>
  </li>
  <li>
    <a href="/v2/bluecoat-primary">Admin team member approving a state-funded school application - Renewal - 1st line</a>
  </li>


  <li>
    <a href="/v2/find-application-by-ukprn.html">Managing application - Search by UKPRN number</a>
  </li>


    <li>
      <a href="/v2/find-application-by-name.html">Managing application - Search by part organisation name</a>
    </li>

</ul>



<h2 class="govuk-heading-m">Version 3</h2>

<ul class="govuk-list govuk-list--bullet">

  <li>
    <a href="/v1/find-application.html">Managing application - Renewal - Search by application reference</a>
  </li>
  <li>
    <a href="/v1/bluecoat-primary">Admin team member approving a state-funded school application - Renewal - 1st line</a>
  </li>


  <li>
    <a href="/v1/find-application-by-name.html">Managing application - Search by school name</a>
  </li>

</ul>
<h2 class="govuk-heading-m">Version 2</h2>

<ul class="govuk-list govuk-list--bullet">

  <li>
    <a href="/lrs_admin/application_management/manage-renewals/find-application.html">Managing application - Renewal - Search by application reference</a>
  </li>
  <li>
    <a href="/lrs_admin/application_management/manage-renewals/bluecoat-primary-renewal-ist">Admin team member approving a state-funded school application - Renewal - 1st line</a>
  </li>
  <li>
    <a href="/lrs_admin/application_management/manage-renewals/weir-training-new-ist">Managing application - New - 1st line</a>
  </li>

  <li>
    <a href="/lrs_admin/application_management/manage-renewals/find-application-by-name.html">Managing application - Search by school name</a>
  </li>

</ul>

<h2 class="govuk-heading-m">Version 1</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>
    <a href="/lrs_admin/organisation_management/org_mgt_1_search.html">Organisation management</a>
  </li>
  <li>
    <a href="/lrs_admin/application_management/index_lrs_app_mgt.html">Application management</a>
  </li>
  <li>
    <a href="/lrs_admin/register_learner/register_learner_1.html">Register Learner</a>
  </li>
  <li>
    <a href="/lrs_admin/change/index_change_signatory.html">Change signatory versions</a>
  </li>

</ul>


{% endblock %}
